#buttonsView {
	margin-left: 10px;
}

.comics {
	background: teal;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}

#character-form {
	margin-top: 25px;
	margin-left: 10px;
	width: 30%;
	position: relative;
	float: left;
}

#characterLabel {
	font-weight: bold;
	font-size: 18px;
}

#character-input {
	margin-top: 10px;
	width: 60%;
} 

#addChar {
	background: teal;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px;
	margin-top: 10px;
	font-size: 16px;
}

#charactersView {
	width: 60%;
	position: relative;
	float: left;
}

.ratings {
	font-weight: bold;
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.characterImg {
	max-width: 100%;
	height: auto;
}